@import "../../../theme.scss";

mat-card {
  width: 500px;

  mat-card-title {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: rgb(176, 84, 51);;
  }

  mat-card-content {
    table {
      margin-top: 1rem;

      .mat-column-name {
        border-right: 1px solid rgb(176, 84, 51); ;
      }

      .mat-mdc-header-cell,
      .mat-mdc-cell {
        font-size: 1.3rem;
      }
    }
  }
}