

mat-sidenav-container{
    height: 100vh;
    
    mat-sidenav{
        width: 270px;
        background-color:rgba(0, 0, 0, 0.31);
    
    }
    mat-sidenav-content{
        display: flex;
        flex-direction: column;
        
main{
    padding: 1rem;
    flex: 1 1 auto;
}
    
    }

}